%table
  %tr
    %th= table_attribute_name Kind, :name
    %th= table_attribute_name Kind, :price

  - @cash_turnover.kinds.each do |kind| 
    %tr
      %td= kind.name
      %td= kind.calculated_price
