%ul.tab-menu
  %li.tab-section= link_to t('.cash_turnover_statistics'), '#', data: { type: 'cash_turnovers' }, class: 'tab-link', id: 'cash-turnover-statistics'
  %li.tab-section= link_to t('.kinds_statistics'), '#', data: { type: 'kinds' }, class: 'tab-link', id: 'kinds-statistics'
