<h1>Welcome to wonderland!</h1>

  <div class="row">
    <div class="attribute" id="unicornlist">To see our unicorn list:</div>
    <div class="value"><a href="http://localhost:3000/unicorns">Unicorn list</a></div>
  </div>
  <div class="row">
    <div class="attribute" id="unicornnew">Register a new unicorn here:</div>
    <div class="value"><a href="http://localhost:3000/unicorns/new">New unicorn</a></div>
  </div>
  <div class="row">
      <div class="attribute" id="kinshiplist">Kinship list:</div>
      <div class="value"><a href="http://localhost:3000/kinships">Kinship list</a></div>
  </div>
  <div class="row">
    <div class="attribute" id="unicornnew">Register a new unicorn here:</div>
    <div class="value"><a href="http://localhost:3000/kinships/new">New kinship</a></div>
  </div>
