<h1>Listing kinships</h1>

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
	</tr>

	<% @kinships.each do |kinship| %>
		<tr>
			<td><%= kinship.id %></td>
			<td><%= kinship.name %></td>
		</tr>
	<% end %>
</table>
