.attribute{
  display: inline-block;
  width: $input-width;
}

.value {
  display: inline-block;
}

input {
  display: inline-block;
  background: $pink-background;
  border: 1px solid #989898;
  width: $input-width;
  height: 10px;
  color: $white;
}

.row {
  margin: 10px;
}

body {
  margin: 0;
  position: relative;
  background: #ff7de8;
  color: #0fffff;
}

.textfield {
  width: $input-width;
  height: $input-height;
  background: $pink-background;
  color: $white;
}

.textarea {
  width: $input-width;
  height: 150px;
  color: $white;
  background: $pink-background;
}

.submit {
  width: $input-width;
  height: $input-height;
  color: $white;
}

.main-image {
  position: absolute;
}

img {
  width: $input-width;
  height: $input-width;
}

.magic {
  width: $input-width;
  height: 40px;
  color: $white;
  border: none;
  background-color: #ff99ff;
  text-decoration: none;
}

.flash {
  border: 1px solid $black;
  color: $black;
 
  .error {
    background: #FE2828;
  }

  .success {
    background: #28FE35;
  }
}

.input-row {
  font-size: 100%;
}

.label {
  width: $input-width;
  display: block;
}
