.menu_wrapper{
  background-color: #ff0066;
}

ul{
  display: inline-block;
  margin: 0;
}

li{
  display: inline-block;
  border-right: 1px solid #fff;
  float: left;
  text-align: center;
  padding: 10px 20px;
}

.link{
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
