.menu_wrapper{
  background-color: #ff0066;
}
ul{
  border: 1px solid #ff0066;
  display: inline;
}

ul li{
  display: inline;
  text-align: center;
  border-right: 1px solid #fff;
}

.login{
  float: right;
}
