.attribute {
  display: inline-block;
  width: 200px;
}

.value {
  display: inline-block;
}

input{
  display: inline-block;
  background: #ff99ff;
  border: 1px solid #989898;
  width: 200px;
  height: 10px;
  color: #ffffff;
}

.row {
  margin: 10px;
}

body{
  position: relative;
  background: #000;
  color: #0fffff;
}

.textfield {
  width: 200px;
  height: 20px;
  background: #ff99ff;
  color: #ffffff;
}

.textarea {
  width: 200px;
  height: 150px;
  color: #ffffff;
  background: #ff99ff;
}

.submit {
  width: 200px;
  height: 20px;
  color: #ffffff;
}

.main-image {
  position: absolute;
}

img {
  width: 200px;
  height: 200px;
}

.magic {
  width: 200px;
  height: 40px;
  color: #fff;
  border: none;
  background-color: green;
  text-decoration: none;
}

.flash {
  border: 1px solid #000000;
  color: #000000;
}

.flash .error {
  background: red;
}

.flash .success {
  background: green;
}

.input-row {
  font-size: 100%;
}

.label {
  width: 200px;
  display: block;
}
