.attribute{
  display: inline-block;
  width: 200px;
}

.value{
  display: inline-block;
}

input{
  display: inline-block;
  background: #ff99ff;
  border: 1px solid #989898;
  width: 200px;
  height: 10px;
  color: #ffffff;
}

.row{
  margin: 10px;
}

body{
  background: #ff0080;
  color: #0fffff;
  background: linear-gradient(top, #FF7DE8, #fff);
  background: linear-gradient(to bottom, #FF7DE8, #fff )
}

.textfield {
  width: 200px;
  height: 20px;
  background: #ff99ff;
  color: #ffffff;
}

.textarea{
  width: 200px;
  height: 150px;
  color: #ffffff;
  background: #ff99ff;
}

.submit{
  width: 200px;
  height: 20px;
  color: #ffffff;
}

img{
  width: 300px;
  height: 300px;
}

.flash{
  border: 1px solid #000000;
  color: #000000;
}

.flash .error{
  background: red;
}

.flash .success{
  background: green;
}

.input_row{
  font-size: 100%;
}

.label{
  width: 200px;
  display: block;
}
