.attribute{
	display: inline-block;
	width: 200px;
}

.value{
	display: inline-block;
}

input{
	display: inline-block;
	background: #ff99ff;
	border: 1px solid #989898;
	width: 200px;
	height: 10px;
  color: #ffffff;
}

.row{
  margin: 10px;
}

body{
	background: #ff0080;
  color: #0fffff;

  background: -moz-linear-gradient(top, rgba(225,119,174,1) 0%, rgba(242,190,222,0) 100%);
  background: -webkit-linear-gradient(top, rgba(225,119,174,1) 0%,rgba(242,190,222,0) 100%); 
  background: linear-gradient(to bottom, rgba(225,119,174,1) 0%,rgba(242,190,222,0) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e177ae', endColorstr='#00f2bede',GradientType=0 ); 
}

.wrapper{
}

.textfield {
  width: 200px;
  height: 20px;
  background: #ff99ff;
  color:#ffffff;
}

.textarea{
  width: 200px;
  height: 150px;
  color: #ffffff;
  background: #ff99ff;
}

.submit{
  width: 200px;
  height: 20px;
  color: #ffffff;
}

 img{
  width: 300px;
  height:300px;
}

.flash{
  border: 1px solid #000000;
  color: #000000;
  background: #cc0000;
}
